.signup {
  &-wrapper {
    margin: 2rem 0;
    height: 100%;
  }
  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.term {
  font-size: 0.875rem;
  color: $gray-text;
}
