@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
$primary-color: #f59e0b;
$primary-color-hover: #facf85;
$primary-font: "Rubik", sans-serif;
$background-color: #f3f4f6;
$gray-text: rgba(55, 65, 81, 1);
$gray-line: rgb(152, 155, 161);

// responsive

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
